### Read invetory

In [78]:
import json

fd=open("records.json",'r')
records_data=fd.read()
fd.close()
records=json.loads(records_data)

In [79]:
records_data

'{"1001": {"name": "Choco Cake", "qn": 34, "pr": 100}, "1002": {"name": "Milk Cake", "pr": 800, "qn": 100}, "1003": {"name": "Drink", "pr": 85, "qn": 100}, "1004": {"name": "Candy", "pr": 5, "qn": 1000}, "1005": {"name": "Pen", "pr": 20, "qn": 100}, "1006": {"name": "Phone", "pr": 50000, "qn": 10}, "1007": {"name": "Mic", "pr": 1500, "qn": 0}, "1008": {"name": "Case", "pr": 599, "qn": 5}, "1009": {"name": "Keyboard", "pr": 1999, "qn": 10}, "2001": {"name": "ice cream", "pr": 20, "qn": 0}, "2002": {"name": "pastry", "pr": 50, "qn": 0}, "2003": {"name": "pasta", "pr": 50, "qn": 13}, "2004": {"name": "toothbrush", "pr": 10, "qn": 20}, "2005": {"name": "earphone", "pr": 500, "qn": 10}}'

In [80]:
records

{'1001': {'name': 'Choco Cake', 'pr': 100, 'qn': 34},
 '1002': {'name': 'Milk Cake', 'pr': 800, 'qn': 100},
 '1003': {'name': 'Drink', 'pr': 85, 'qn': 100},
 '1004': {'name': 'Candy', 'pr': 5, 'qn': 1000},
 '1005': {'name': 'Pen', 'pr': 20, 'qn': 100},
 '1006': {'name': 'Phone', 'pr': 50000, 'qn': 10},
 '1007': {'name': 'Mic', 'pr': 1500, 'qn': 0},
 '1008': {'name': 'Case', 'pr': 599, 'qn': 5},
 '1009': {'name': 'Keyboard', 'pr': 1999, 'qn': 10},
 '2001': {'name': 'ice cream', 'pr': 20, 'qn': 0},
 '2002': {'name': 'pastry', 'pr': 50, 'qn': 0},
 '2003': {'name': 'pasta', 'pr': 50, 'qn': 13},
 '2004': {'name': 'toothbrush', 'pr': 10, 'qn': 20},
 '2005': {'name': 'earphone', 'pr': 500, 'qn': 10}}

### Add new items

In [81]:
prod_id=str(input("Enter product id : "))
name=str(input("Enter name : "))
pr=int(input("Enter price : "))
qn=int(input("Enter quantity : "))

records[prod_id]={'name':name,'pr':pr,'qn':qn}

js=json.dumps(records)

fd=open("records.json","w")
fd.write(js)
fd.close()

Enter product id : 2006
Enter name : bluetooth
Enter price : 1000
Enter quantity : 12

In [82]:
fd=open("records.json",'r')
records_data=fd.read()
fd.close()
records=json.loads(records_data)
records

{'1001': {'name': 'Choco Cake', 'pr': 100, 'qn': 34},
 '1002': {'name': 'Milk Cake', 'pr': 800, 'qn': 100},
 '1003': {'name': 'Drink', 'pr': 85, 'qn': 100},
 '1004': {'name': 'Candy', 'pr': 5, 'qn': 1000},
 '1005': {'name': 'Pen', 'pr': 20, 'qn': 100},
 '1006': {'name': 'Phone', 'pr': 50000, 'qn': 10},
 '1007': {'name': 'Mic', 'pr': 1500, 'qn': 0},
 '1008': {'name': 'Case', 'pr': 599, 'qn': 5},
 '1009': {'name': 'Keyboard', 'pr': 1999, 'qn': 10},
 '2001': {'name': 'ice cream', 'pr': 20, 'qn': 0},
 '2002': {'name': 'pastry', 'pr': 50, 'qn': 0},
 '2003': {'name': 'pasta', 'pr': 50, 'qn': 13},
 '2004': {'name': 'toothbrush', 'pr': 10, 'qn': 20},
 '2005': {'name': 'earphone', 'pr': 500, 'qn': 10},
 '2006': {'name': 'bluetooth', 'pr': 1000, 'qn': 12}}

### purchase

In [83]:
ui_product=str(input("Enter the product id : "))
ui_quantity=int(input("Enter the quantity : "))
customer_name=str(input("Enter customer name : "))
customer_mobile=str(input("Enter mobile number : "))

print("\n******************************")

if(records[ui_product]['qn']-ui_quantity>=0):
 
  print("    Your Reciept   ")
  print("product : ",records[ui_product]["name"])
  print("price : ",records[ui_product]["pr"])

  print("Billing Amount : ",records[ui_product]["pr"]*ui_quantity)

  records[ui_product]['qn']=records[ui_product]['qn']-ui_quantity
else:
  print("Sorry,We are out of stock!!")
  
print("\n******************************")

Enter the product id : 2006
Enter the quantity : 2
Enter customer name : qrstuv
Enter mobile number : 123456789

******************************
    Your Reciept
product :  bluetooth
price :  1000
Billing Amount :  2000

******************************

### update inventory

In [84]:
js=json.dumps(records)

fd=open("records.json","w")
fd.write(js)
fd.close()

In [85]:
records

{'1001': {'name': 'Choco Cake', 'pr': 100, 'qn': 34},
 '1002': {'name': 'Milk Cake', 'pr': 800, 'qn': 100},
 '1003': {'name': 'Drink', 'pr': 85, 'qn': 100},
 '1004': {'name': 'Candy', 'pr': 5, 'qn': 1000},
 '1005': {'name': 'Pen', 'pr': 20, 'qn': 100},
 '1006': {'name': 'Phone', 'pr': 50000, 'qn': 10},
 '1007': {'name': 'Mic', 'pr': 1500, 'qn': 0},
 '1008': {'name': 'Case', 'pr': 599, 'qn': 5},
 '1009': {'name': 'Keyboard', 'pr': 1999, 'qn': 10},
 '2001': {'name': 'ice cream', 'pr': 20, 'qn': 0},
 '2002': {'name': 'pastry', 'pr': 50, 'qn': 0},
 '2003': {'name': 'pasta', 'pr': 50, 'qn': 13},
 '2004': {'name': 'toothbrush', 'pr': 10, 'qn': 20},
 '2005': {'name': 'earphone', 'pr': 500, 'qn': 10},
 '2006': {'name': 'bluetooth', 'pr': 1000, 'qn': 10}}

### Sales

In [86]:
{'product_id':ui_product,"quantity":ui_quantity,"amount":records[ui_product]['pr']*ui_quantity,"customer name":customer_name,"customer mobile":customer_mobile}

{'amount': 2000,
 'customer mobile': '123456789',
 'customer name': 'qrstuv',
 'product_id': '2006',
 'quantity': 2}

In [87]:
#sales={}

In [88]:
sales[len(sales)+1]={'product_id':ui_product,"quantity":ui_quantity,"amount":records[ui_product]['pr']*ui_quantity,"customer name":customer_name,"customer mobile":customer_mobile}

In [89]:
js=json.dumps(sales)

fd=open("sales.json",'w')
fd.write(js)
fd.close()

Read sales

In [90]:
import json

fd=open("sales.json",'r')
sales_data=fd.read()
fd.close()
sale=json.loads(sales_data)

In [91]:
sale

{'1': {'amount': 100,
  'customer mobile': '16874687',
  'customer name': 'abcde',
  'product_id': '2003',
  'quantity': 2},
 '2': {'amount': 1500,
  'customer mobile': '163874968',
  'customer name': 'jklmnop',
  'product_id': '2005',
  'quantity': 3},
 '3': {'amount': 2000,
  'customer mobile': '123456789',
  'customer name': 'qrstuv',
  'product_id': '2006',
  'quantity': 2}}